.bg-mynav {
    background-color: #01ff62;
}

body {
    font-size: 1.25rem;
    background-color: #1d1c1c;
}

td {
    line-height: 3rem;
}

.data {
    display: none;
}

.g-signin2
{
    position: absolute;
    margin-top: 5px;
}